 .layout {
 	display: grid;
 	grid-template-columns: repeat(12, 1fr);
 	grid-template-rows: repeat(3, auto);
 }

 .gridContainer {
 	display: flex;
 	flex-direction: row;
 	flex-wrap: wrap;
 	justify-content: space-around;
 	background-color: rgba(243, 117, 33, 0.212);
 	grid-column: 3 / -1;
 }

 .gridItem {
 	background-color: rgba(255, 255, 255, 0.8);
 	border: 1px solid rgba(0, 0, 0, 0.8);
 	padding: 20px;
 	margin-top: 10px;
 	font-size: 30px;
 	text-align: center;
 	width: 30%;
 	border-radius: 1%;
 	display: flex;
 	flex-direction: column;
 	flex-wrap: wrap;
 	justify-content: space-around;
 }

 .gridImg {
 	height: 250px;
 	width: auto;
 }